<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softtek.lai">

    <!--
        <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="25" />
    -->

    <permission
        android:name="com.softtek.lai.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.softtek.lai.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- 使用时把com.easemob.chatuidemo替换成自己的包名 -->
    <permission
        android:name="com.softtek.lai.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.softtek.lai.permission.C2D_MESSAGE" />

    <permission
        android:name="com.softtek.lai.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.softtek.lai.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".LaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <!-- ============================设置各个开发者平台的key==================== -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c6b9697bcfc32b64ff0e22ad9d40cc8f" />
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="5704e47c748aac462300001d" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- 正式 -->
        <!-- <meta-data -->
        <!-- android:name="UMENG_APPKEY" -->
        <!-- android:value="5728545a67e58ea7cf001701" /> -->
        <!-- 测试 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57d60ab167e58ec4f60000cb" />

        <!-- 正式 -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_APPKEY" -->
        <!-- android:value="1a3bbb691bfbfca0d0676e9f" /> -->
        <!-- 测试54 -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f04fa77453f2b3894d05b894" />

        <!-- 正式 -->
        <!-- <meta-data -->
        <!-- android:name="EASEMOB_APPKEY" -->
        <!-- android:value="herbalife#laiju" /> -->
        <!-- uat设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="herbalifeuat#laiapp" />

        <!-- ============================================================================== -->
        <activity
            android:name=".module.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".module.welcome.view.GuidePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.welcome.view.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ui.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".chat.ui.GroupSentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".chat.ui.SeceltGroupSentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".chat.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".module.login.view.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".module.login.view.ForgetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".module.login.view.ForgetActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".module.File.view.CreatFlleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.HomeActviity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.ValidateCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.ModifyPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.ModifyPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.ModifyNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.view.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.File.view.DimensionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sportchart.view.ChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.WriteFCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name=".module.bodygame3.activity.view.FcStuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.laisportmine.view.MySystemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.login.view.TermActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.StudentHonorGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.counselor.view.InviteContantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.counselor.view.SearchContantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".module.counselor.view.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.File.view.ExplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.ZQSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.JoinGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.GroupSecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.GroupThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.GroupFouthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.GroupFifthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.group.view.GroupSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.act.view.ActListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.act.view.ActActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.act.view.ActGroupPersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".module.healthyreport.HealthEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".module.community.view.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.Message2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.MessageConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.history.view.ClassInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".module.laijumine.view.MySettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laijumine.view.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laijumine.view.FocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laiClassroom.KeywordsSearchActivity"
            android:screenOrientation="portrait" />

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.softtek.lai" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.softtek.lai" />
            </intent-filter>
        </service>

        <!-- 环信登录检测（被踢）服务 -->
        <service
            android:name=".module.bodygame3.conversation.service.HXLoginService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.hx.android.intent.HXLoginService" />

                <category android:name="com.softtek.lai" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.softtek.lai" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.softtek.lai" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.healthyreport.HistoryDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sport.view.HistorySportListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laisportmine.view.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laisportmine.view.MyNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laisportmine.view.MyPublicwelfareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personalPK.view.PKListMineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personalPK.view.PKDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personalPK.view.CreatePKActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".module.personalPK.view.SelectOpponentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.personalPK.view.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".module.personalPK.view.SelectTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laisportmine.view.MyPkListActivity"
            android:screenOrientation="portrait" />

        <service android:name=".stepcount.service.StepService" />

        <activity
            android:name=".module.sport2.view.MyXuZhangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sport.view.RunSportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".module.sport.view.HistorySportActivity"
            android:screenOrientation="portrait" />

        <!-- 开机自启动服务 -->
        <receiver android:name=".module.bodygame3.conversation.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name=".location.LocationService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".stepcount.service.NotificationReceive">
            <intent-filter>
                <action android:name="com.soffteck.lai.step_notify" />
            </intent-filter>
        </receiver>
        <!-- 进程常驻设置 -->
        <service
            android:name=".stepcount.service.DaemonService"
            android:process=":daemonprocess" />

        <receiver
            android:name=".stepcount.service.Receive1">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.softtek.lai.service_destory" />
                <action android:name="com.softtek.lai.clock" />
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="com.softtek.lai.StepService.StepClose" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".stepcount.service.UploadLogService"
            android:exported="false" />

        <activity
            android:name=".module.home.view.ArticalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.community.view.PersionalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sport2.view.LaiSportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sport2.view.CountDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.HonorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.InitAuditListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.FcAuditListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ranking.view.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.home.view.BodyGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.CreateClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.CreateActActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.EditorTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.InvitationListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.InvitationSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.SearchContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.ClassManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.EditorTextOlineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.UpdateFuceTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.SearchClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.ClassMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.conversation.view.GroupsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.conversation.view.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.conversation.view.ClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.LossWeightAndFatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.ActivitydetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.MessageOperatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.conversation.view.ContactSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.conversation.view.NewFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.EditorPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.ExamineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.PantnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.PastReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.graph.GraphActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.ClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.picture.view.PictureActivity"
            android:process=":picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.picture.view.PictureMoreActivity"
            android:process=":picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.GroupRankingActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.ActTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.photowall.PhotoWallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".module.message2.view.NoticeServerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.NoticeFCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.SetLoveStuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.message2.view.ActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.photowall.PublishDyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.EditSignaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.HonorRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.SearchClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.PreViewPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.activity.view.ResetStuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.LoveStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.SupportTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.community.view.TopicListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.community.view.TopicDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".module.community.view.DynamicDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".picture.LookBigPicActivity"
            android:process=":picture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTransparent" />
        <activity
            android:name=".module.bodygame3.more.view.SearchFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.laiClassroom.ClassroomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.more.view.FuceAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laiClassroom.ArticdetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laiClassroom.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTransparentStatus" />
        <activity
            android:name=".module.laiClassroom.SubjectdetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.bodygame3.head.view.PersonDetailActivity2"
            android:screenOrientation="portrait" />

        <service android:name=".module.home.service.UpdateService" />

        <activity
            android:name=".module.laicheng.LaibalanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".module.bodygame3.activity.view.MeasureListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.healthyreport.HealthyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".module.bodygame3.activity.view.FuceForStuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.laicheng.VisithistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".module.healthyreport.HealthyChartActivity"
            android:theme="@style/AppTheme2" />

        <activity
            android:name=".module.bodygame3.activity.view.FcAuditStuActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.laicheng.VisitorinfoActivity"
            android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".module.bodygame3.activity.view.InitDataAuditActivity2"
            android:screenOrientation="portrait" />


    </application>

</manifest>